/*
***************************************************************
***************************************************************

Template Name  : NAME | One Page Multipurpose Template
Author         : Hassan
Author URI     : http: //hasanrashed.com
File           : Style.css


@NOTE: This file contains the stylesheet for this template.
you may need to edit this file to change your contents style.
This file contents are outlined below

***************************************************************
***************************************************************

========== INDEX PAGE CSS ==========
------------------------------------

*** -  1. Template Default Css
*** -  2. Template Background Css
*** -  3. Template Position Css 
*** -  4. Template Hover Css   
*** -  5. Template Buttons Css
*** -  6. Header Area Css
*** -  7. Welcome Area Css
*** -  8. Service Area Css
*** -  9. Team Area Css
*** - 10. Video Area Css 
*** - 11. Work Area Css
*** - 12. Testimonial Area Css
*** - 13. Pricing Area Css
*** - 14. Project Complete Area Css
*** - 15. Blog Area Css
*** - 16. Map Area Css
*** - 17. Brand Area Css
*** - 18. Footer Area Css
*** - 19. Template Hover Css
*** - 20. Template Transition Css


*/

/****
*   GOOGLE FONTS
*   =============================
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700i|Lato:400,700');
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1.5em;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-size: 14px;
    line-height: 1.5em;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}


/*
=========----------------------------------=========
            1.Template Default Css     
=========----------------------------------=========
*/

.section-padding {
    padding: 100px 0;
}


/*
=========----------------------------------=========
            2.Template Background Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            3.Template Position Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            4.Template Hover Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            5.Template Buttons Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            6.Header Area Css     
=========----------------------------------=========
*/

#slot {
    margin-top: -50px;
}

.slot-input input[type="file"] {
    padding: 100px;
    border: 2px dashed #777;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 75px;
}


.slot-input input[type="date"],
.slot-input input[type="time"] {
    width: 100%;
    height: 40px;
    margin: 10px 0;

}


.slot-input button {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    text-decoration: ;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #333;
    cursor: pointer;
}

.main-menu li {
    display: inline-block;
}

.main-menu a {
    padding: 10px 15px;
    border: 1px solid #999;
    text-decoration: none;
    color: #333;
}

.main-menu ul {
    text-align: center;
    margin-top: 50px;
}


#top-menu {
    margin-bottom: 30px;
}

#slot .company-logo {
    margin-bottom: -30px;
}

#blah {
    width: 75px;
    height: 75px;
}

.slot-input {
    position: relative;
    z-index: 1;
}

.up-picture {
    position: absolute;
    z-index: 2;
    right: 2px;
    top: 80px;
}

/*
=========----------------------------------=========
            7.Log In Area Css     
=========----------------------------------=========
*/

.log-in-form {
    margin-top: 150px;
}

.log-in-form input[type="email"],
.log-in-form input[type="password"] {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
}

.log-in-form button,
.log-form button {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #333;
    background: transparent;
    cursor: pointer;
    margin: 10px 0;
}

/*
=========----------------------------------=========
            10.Footer Area Css     
=========----------------------------------=========
*/

#log {
    width: 100%;
}

.log-form input[type="email"],
.log-form input[type="password"] {
    width: 100%;
    height: 40px;
}

.log-form i.fa {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #ddd;
    text-align: center;
    color: #333;
    border-radius: 3px 0 0 3px;
}

.log-form .input-group {
    margin: 10px 0;
}


.log-table {
    display: table;
    width: 100%;
    height: 285px;
}

.log-table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/*
=========----------------------------------=========
            HOME Area Css     
=========----------------------------------=========
*/

.main-menu ul {
    margin-bottom: 25px;
}

a.active {
    border: 1px solid #FF2F2F;
    text-decoration: none;
    color: #FF2F2F;
}

/*
=========----------------------------------=========
            Scroll To Top Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            Scroll To Top Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            Pre Loader Area Css     
=========----------------------------------=========
*/

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FA4C1C;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}


/****
*   Pre Loader Custom CSS
*   =============================
*/

.pre-loader-area {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.sk-folding-cube {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}


/*
 -------------------=======================----------------
|                       BLOG PAGE CSS                      |
 -------------------=======================----------------
*/
